.mainLayout {
    position: relative;
    width: 100%;
    max-height: 100vh;
    padding: 28px;
    background: "#ffffff";
    overflow:hidden;
}

@media (max-width: 920px) {
    .mainLayout {
    overflow: auto;
    }
}